<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>PeerSys33</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>teacherFront</servlet-name>
    <servlet-class>User.TeacherController.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>teacherFront</servlet-name>
    <url-pattern> *.tc </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>adminFront</servlet-name>
    <servlet-class>User.AdminController.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adminFront</servlet-name>
    <url-pattern> *.ad </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>studentFront</servlet-name>
    <servlet-class>User.StudentController.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>studentFront</servlet-name>
    <url-pattern> *.st </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>schoolFront</servlet-name>
    <servlet-class>School.SchoolController.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>schoolFront</servlet-name>
    <url-pattern> *.sc </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QuestionFront</servlet-name>
    <servlet-class>Survey.QuestionController.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QuestionFront</servlet-name>
    <url-pattern> *.qs </url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SurveyFront</servlet-name>
    <servlet-class>Survey.SurveyController.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SurveyFront</servlet-name>
    <url-pattern> *.sv </url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>admin_id</param-name>
    <param-value>admin</param-value>
  </context-param>
  <context-param>
    <param-name>admin_password</param-name>
    <param-value>1234</param-value>
  </context-param>
</web-app>